@use '../../../sass/mixins';
@use '../../../sass/base';

.class-otherprojects {
    @include mixins.flex-center;
    width: 100%;
    background: #666;
    padding: 2rem;

    .title {
        width: 100%;
        margin-bottom: 1rem;

        h2 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .card-project {
        position: relative;
        width: 300px;
        height: 250px;
        box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.3);

        .link {
            @include mixins.flex-column-center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            transition: 0.5s;

            p {
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
            }

            button {
                width: 50%;
                padding: 0.5rem 0;
                border-radius: 0;
                cursor: pointer;
            }

            &:hover {
                opacity: 1;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.card-github {
    display: flex;
    width: 300px;
    margin: 3rem 0;
    font-size: 2rem;
    background-color: #ccc;
    border-left: 5px solid base.$primary-color;
    color: base.$primary-color;

    svg {
        width: 5rem;
        margin-right: 1.5rem;

        @media(max-width: 768px){
            width: 3rem;
        }
    }

    &:hover {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
        color: base.$quaternary-color;
    }

    &:active {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .link {
        @include mixins.flex-center;
        width: 100%;
        padding: 1rem;
    }

    @media(max-width: 540px){
        font-size: 1.5rem;
        margin: 1rem;
    }
}

.page-portfolio {
    width: 100%;

    .meatme {
        .banner {
            width: 100%;
        }

        .content {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 1rem;

            .text {
                width: 40%;
                padding: 1rem;

                p {
                    padding: 0.1rem;
                    line-height: 1.5rem;

                    @media(max-width: 990px){
                        font-size: 1rem;
                    }

                    @media(max-width: 540px){
                        font-size: .9rem;
                    }
                }

                a {
                    @extend .card-github;
                }
            }

            .images {
                width: 60%;
                height: 90vh;
                border: 1px solid base.$primary-color;
                box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
            }

            @media(max-width: 990px){
                .text {
                    width: 100%;
                }

                .images {
                    width: 100%;
                }
            }
        }

        .otherprojects {
            @extend .class-otherprojects;
        }
    }

    .sitio-futbol5 {
        .banner {
            position: relative;

            .title {
                position: absolute;
                bottom: -10%;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                background: #666;
                padding: 1rem 2rem;
                border-radius: 5px;

                h1 {
                    text-align: center;
                    color: #fff;

                }

                @media(max-width: 768px){
                    width: 75%;

                    h1 {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .content {
            @include mixins.flex-center;
            position: relative;
            width: 100%;
            min-height: 100vh;

            .image {
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-25%, -50%);
                width: 35%;
                border-radius: 5px;
                z-index: 5;

                img {
                    border-radius: 5px;
                    box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.3);
                }

                @media(max-width: 990px){
                    transform: translate(-35%,-100%);
                }

                @media(max-width: 768px){
                    width: 300px;
                    left: 50%;
                    transform: translate(-50%,-100%);
                }

            }

            .text {
                @include mixins.flex-center;
                justify-content: flex-end;
                flex-wrap: wrap;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-25%, -20%);
                width: 50%;
                height: 50vh;
                background: #28a745;
                border-radius: 5px;
                padding-right: 5rem;

                p {
                    width: 60%;
                    line-height: 1.3rem;
                    color: base.$primary-color;
                    font-size: 1rem;
                }

                a {
                    width: 100%;
                    text-align: end;
                    color: base.$quaternary-color;

                    &:hover {
                        color: base.$tertiary-color;
                    }
                }

                @media(max-width: 990px){
                    width: 70%;
                    transform: translate(-40%,-45%);

                    p {
                        width: 50%;
                    }
                }

                @media(max-width: 768px){
                    width: 95%;
                    transform: translate(-50%,-25%);
                    padding-right: 2rem;
                    padding-top: 5rem;

                    p {
                        width: 90%
                    }
                }

                @media(max-width: 768px){
                    p {
                        font-size: .9rem;
                    }
                }

                @media(max-width: 540px){
                    background: none;
                }

            }
            @media(max-height: 420px) and (orientation: landscape){
                height: 200vh;

                .text {
                    height: 100vh
                }
            }
        }

        .code {
            @include mixins.flex-center;
            width: 100%;
            background: #666;
            padding: 1rem;

            a {
                @extend .card-github;
            }

            p {
                width: 30%;
                color: #FFF;
                line-height: 1.3rem;
                font-size: 1rem;
                margin: 1rem 2rem;

                @media(max-width: 768px){
                    width: 90%;
                    font-size: .9rem;
                }
            }
        }

        .images {
            width: 100%;
            height: 90vh;
            margin: 2rem 0;
            padding: 2rem 5rem;

            @media(min-width: 990px){
                width: 60%;
                margin: 0 auto;
            }

            @media(max-width: 768px){
                padding: 0;
            }
        }

        .otherprojects {
            @extend .class-otherprojects;
            padding: 4rem;
            margin-top: 5rem;
        }
    }

    .app-futbol5 {
        min-height: 100vh;
        background: #8A7E72;

        .banner {
            @include mixins.flex-center;
            align-items: stretch;
            background: #7A9B76;
            padding: 5rem;

            .image {
                @include mixins.flex-center;
                width: 300px;

                img {
                    width: 100%;
                }

                @media(max-width: 990px){
                    width: 200px;
                }

                @media(max-width: 768px){
                    width: 120px;
                    margin-right: 2rem;
                }
            }

            .text {
                width: 60%;
                padding: 5rem;
                line-height: 1.5rem;

                p {
                    margin-bottom: 2rem;
                }

                a {
                    background: base.$quaternary-color;
                    color: #CCC;
                    padding: 1rem 2rem;

                    &:hover {
                        box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
                        color: #8A7E72;
                    }

                    &:active {
                        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
                    }
                }

                @media(max-width: 990px){
                    padding: 3rem;
                }


                @media(max-width: 768px){
                    padding: 1rem;
                }

                @media(max-width: 540px){
                    width: 90%;
                }
            }

            @media(max-width: 990px){
                padding: 3rem;
            }


            @media(max-width: 768px){
                padding: 2rem;
            }
        }

        .description {
            @include mixins.flex-center;
            background: rgba(0, 0, 0, 0.2);
            margin-bottom: 3rem;
            padding: 3rem;
            color: #5A2328;

            .functionality {
                @include mixins.flex-column-center;
                width: auto;

                h2 {
                    text-align: left;
                }

                ul {
                    line-height: 1.5rem;
                    padding-left: 0;
                    list-style: none;
                    white-space: nowrap;
                }

                @media(min-width: 1000px){
                    margin-right: 5rem;
                }

                @media(max-width: 990px){
                    margin-right: 2rem;
                }

                @media(max-width: 768px){
                    margin-right: 0;
                }

                @media(max-width: 540px){
                    width: 100%;
                    margin-right: 0;
                }
            }

            .code {

                a {
                    @extend .card-github;
                }
            }

            @media(max-width: 540px){
                padding: 1rem;
            }
        }

        .content {
            background: rgba(0, 0, 0, 0.2);
            padding: 3rem;
            margin-top: 3rem;

            .captions {
                @include mixins.flex-center;
                position: relative;
                width: 100%;
                margin: 2rem 0;

                &.cancel_reserve {
                    flex-direction: row-reverse;
                }

                img {
                    width: 600px;
                    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
                }

                .images {
                    @include mixins.flex-column-center;
                    width: 400px;
                    margin: 0;

                    img {
                        width: 400px;
                        margin-bottom: 5px;
                    }
                }

                p {
                    width: 40%;
                    padding: 3rem;
                    background: #5A2328;
                    color: #7A9B76;
                    line-height: 1.5rem;
                    margin: 0;
                }

                @media(max-width: 990px){
                    img {
                        width: 400px;
                    }

                    p {
                        width: 40%;
                    }

                    .images {
                        width: 300px;

                        img {
                            width: 300px;
                        }
                    }
                }

                @media(max-width: 768px){
                    margin: 0;
                    padding-top: 2rem;

                    p {
                        width: 100%;
                        background: transparent;
                        color: #5A2328;
                    }
                }

                @media(max-width: 540px){
                    img {
                        width: 300px;
                    }
                }
            }

            @media(max-width: 990px){
                padding: 1rem;
            }

            @media(max-width: 768px){
                padding: 0;
            }

        }

        .images {
            width: 100%;
            height: 100%;
            padding: 2rem;

            h2 {
                text-align: center;
                font-size: 2rem;
                color: #5A2328;
            }

            .gallery {
                box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);

                .mySlides {
                    img {
                        width: 100%;

                        @media(max-width: 540px){
                            height: 50vh;
                        }
                    }
                }
            }

            @media(min-width: 990px){
                width: 80%;
                margin: 0 auto;
            }

            @media(max-width: 768px){
                padding: 0;
            }
        }

        .otherprojects {
            @extend .class-otherprojects;
        }
    }
}
